body{
    background: #fff;
    margin: 0px;
    padding: 0px;
    display: grid;
    font-size: 16px;
}

img{
    width: 100%;
}

/* Section Grids */

.sectionGridFirstpage {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("/src/img/Bildschirmfoto 2018-06-08 um 10.02.09.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
    color: #fff;
}

.sectionGridBackimage1 {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("/src/img/blaupakete.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
}

.sectionGridBackimage2 {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("/src/img/iconsuhr.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
}

.sectionGridBackimage3 {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("/src/img/iconort.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
}

.sectionGridBackimage4 {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("/src/img/blauParcels.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
}

.sectionGridBackimage5 {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("/src/img/teamicon.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:600px;
}


.sectionGrid {
    padding-top: 80px;
    padding-bottom: 80px;
}

.sectionGrid {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

/* Content Grid 3 rows */


.contentGridThreerows{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 960px;
    margin: 0 auto;
}

/* Content Grid 2 rows */


.contentGridTworows{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 960px;
    margin: 0 auto;
}

/* rechte Seite mit Text*/

.rightText{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top:200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

/*linke Seite mit Text*/

.leftText{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top:200px;
    margin-right: auto;
    margin-left: 70px;
    margin-bottom: auto;
}

/* Content Grid 1 row */

.contentGridOnerow{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 960px;
    margin: 0 auto;
}

/* dünne und dicke zeilenlängen für die einspaltigen Seiten*/
.onerowbreit{
    text-align: center;
    margin-top: 50px;
}


.oneroweng{
    text-align: center;
    width: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
 /*p für 3 rows*/
.threerows{
    text-align: left;
    margin-left: 45px;

}


/* Section Colors */


.backgroundSection {
    color:#000000;
}

.bluebackgroundSection {
    color:#fff;
}


.blueSection{
    color: #fff;
    background: #1539C6;
}

.whiteSection{
    color: #333;
    background: #fff;
}

.greySection{
    height:600px;
    color: #000;
    background: #F3F3F3
}

/* Images */

.FirstpagePic{
    max-height: 40%;
    max-width: 40%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top:40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

.leftPic{
    max-height: 70%;
    max-width: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top:200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

.rightPic{
    max-height: 70%;
    max-width: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-top:200px;
    margin-right: auto;
    margin-bottom: auto;
}

.minigame{
    max-height: 80%;
    max-width: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top:40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

.ParcekKeyminigame{
    width: 250px;
    height: auto;
    margin-left: 601px;
    margin-top: -75px;
}



/* Responsive Stuff */
@media only screen and (max-width: 600px) {
    .contentGrid{
        grid-template-columns: 1fr; 
    }
}

